* {  /* RESET (serve para deixar padrão todas as margens e bordas em todos os navegadores) */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("img/cuca.webp");
    background-color: #00000055; /* Hexadecimal para trabalhar com a opacidade */
    background-blend-mode: darken; /* Mistura a cor do fundo (no caso preto) com a imagem, escurecendo-a */
    background-size: cover; /* Amplia a imagem  o máximo possível sem distorcê-la  */
    background-position: right top; /* Fixa o lado direito superior da imagem conforme a redefinição de tamanho da página */
    display: flex;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    color: white;
}

header {
    background-color: #000000AA; /* Hexadecimal para trabalhar com a opacidade */
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 10vw; /* Também poderia ser feito por cada lado (padding-left e padding-right) */
    align-items: center;
}

.logo img {
    width: 120px;
}

.links > ul {
    display: flex;
    gap: 20px; /* Dá um espaço entre os itens, separando-os */
}

.links a {
    color: white;
    text-decoration: none; /* Tira o sublinhado */
    font-size: 20px;
    user-select: none; /* Impossibilita a seleção do texto */
    transition: all .75s; /* É uma transição para mudar do branco para o vermelho mais delicadamente, de forma gradativa */
}

.links a:hover { /* Efeito ao passar o mouse */
    color: red; /* Efeito de mudança de cor */
}

main {
    padding: 15vh 10vw;
    height: 90px;
}

main h1 { /* Título com letra vazada */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    font-size: 3em; color: #fffdd900;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    font-size: 100px; color: #fffdd900;
    margin-top: 0px;
    text-shadow: 0.1em 0.1em 0.3em #000; /* sombreado */
}

.paragrafo {
    display: flex;
}

.paragrafo h3 {
    transform: rotate(270deg); /* gira o texto, o colocando na vertical */
    font-size: 30px;
    color: red;
    line-height: 50px; /* dá um espaço/margem */
}

.paragrafo p {
    margin-top: 20px;
    justify-content: flex-start;
}

main p {
    font-size: 22px;
    font-weight: 200;
    font-style: italic;
    max-width: 500px; /* Largura máxima, quebra o texto */
}

.personagem {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.personagem h3 {
    font-size: 20px;
    margin-top: 10px;
}

.personagem p {
    font-size: 20px;
}

.barra {
    font-size: 50px;
    color: red;
}

footer {
    position: absolute; /* propriedade que permite que nós definamos a posição */
    bottom: 0;
    width: 100%;
    text-align: center;
}

