* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background-image: url(img/saci-cidade-invisivel.jpg);
    background-color: #00000055;
    background-blend-mode: darken;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color: white;
    font-family: 'Karla', sans-serif;
}

header {
    background-color: #000000AA;
    height: 60px;display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

.logo img {
    width: 130px;
    margin-top: 5px;
}

.links > ul {
    display: flex;
    gap: 20px;  
}

.links a {
    color: white;
    align-items: center;
    text-decoration: none;
    font-size: 18px;user-select: none;
    transition: all 1s;  
}

.links a:hover {
    color: red;
}

main {
    flex-direction: column;
    flex-grow: 1;
    padding: 15vh 10vw;
    max-width: 1000px; 
}

main h1 {
    position: relative;
    font-size: 100px;
    width: 20px;
    -webkit-text-stroke: 3px white;
    color: transparent; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

main h1::after {
    content: "Saci";
    position: absolute;
    top: 1px;
    left: 2px;
    font-size: 100px;
    -webkit-text-stroke: 3px black;
    color: transparent;
    z-index: -1;
}

main h2 {
    color: red;
    transform: rotate(270deg);
    font-size: 30px;
}

main p {
    font-size: 25px;
    font-weight: 200;
    margin-top: 10px;
    max-width: 400px;
}

.linha {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    
}

.lenda {
    padding: 5vh 0;
}

.informacao ul {
    display: flex;
    list-style-type: none;
    margin-top: 20px;
    gap: 50px;
}

.ator {
    display: flex;
    flex-direction: column;
    border-right: solid 3px red;
    margin-right: 10px;
    font-style: italic;
}

.nomeAtor {
    font-size: 20px;
    margin-right: 50px;
}

.personagem {
    display: flex;
    flex-direction: column;
    border-right: solid 3px red;
    justify-content: space-between;
    font-style: italic;
}

.nomePersonagem {
    font-size: 20px;
    margin-right: 50px;
}

.entidade {
    font-style: italic;
}

.nomeEntidade {
    font-size: 20px;
    margin-right: 50px;
}

footer {
    text-align: center;
    height: 25px;
}
